@model MerkaDo_BACKEND.Models.DIA_FERIADO_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DIA_FERIADO_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDiaFeriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDiaFeriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaDiaFeriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaDiaFeriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seLabora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seLabora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horarioAperturaDiaFeriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horarioAperturaDiaFeriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horarioCierreDiaFeriad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horarioCierreDiaFeriad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.diaFeriadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
