@model IEnumerable<MerkaDo_BACKEND.Models.DIA_FERIADO_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreDiaFeriado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDiaFeriado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seLabora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horarioAperturaDiaFeriado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horarioCierreDiaFeriad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreDiaFeriado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDiaFeriado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seLabora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioAperturaDiaFeriado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horarioCierreDiaFeriad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.diaFeriadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.diaFeriadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.diaFeriadoId })
        </td>
    </tr>
}

</table>
