@model MerkaDo_BACKEND.Models.CARRITO_COMPRAS_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CARRITO_COMPRAS_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.totalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LISTA_PRODUCTO_.listaProductosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LISTA_PRODUCTO_.listaProductosId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carritoComprasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
