@model IEnumerable<MerkaDo_BACKEND.Models.CARRITO_COMPRAS_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.totalPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LISTA_PRODUCTO_.listaProductosId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.totalPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LISTA_PRODUCTO_.listaProductosId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.carritoComprasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.carritoComprasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.carritoComprasId })
        </td>
    </tr>
}

</table>
