@model IEnumerable<MerkaDo_BACKEND.Models.NOTIFICACION_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mensajeNotificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNotificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROL_USUARIO.nombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_NOTIFICACION_.nombreTipoNotificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mensajeNotificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNotificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROL_USUARIO.nombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_NOTIFICACION_.nombreTipoNotificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO__.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.notificacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.notificacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.notificacionId })
        </td>
    </tr>
}

</table>
