@model MerkaDo_BACKEND.Models.CUPONES_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CUPONES_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCupones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCupones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuentoCupones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuentoCupones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioDescontar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioDescontar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoCupones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoCupones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cuponesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
