@model MerkaDo_BACKEND.Models.TARJETA_MEMBRESIA_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TARJETA_MEMBRESIA_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocialEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntosAcumuladosTarjetaMembresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntosAcumuladosTarjetaMembresia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimientoTarjetaMembresia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVencimientoTarjetaMembresia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tarjetaMembresiaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
