@model IEnumerable<MerkaDo_BACKEND.Models.TARJETA_MEMBRESIA_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puntosAcumuladosTarjetaMembresia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaVencimientoTarjetaMembresia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocialEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puntosAcumuladosTarjetaMembresia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaVencimientoTarjetaMembresia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO__.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tarjetaMembresiaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.tarjetaMembresiaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tarjetaMembresiaId })
        </td>
    </tr>
}

</table>
