@model MerkaDo_BACKEND.Models.EMPRESAS__

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EMPRESAS__</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocialEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoPostalEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoPostalEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseñaEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseñaEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailMarketing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailMarketing)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
