@model MerkaDo_BACKEND.Models.EMPRESAS__

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPRESAS__</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocialEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoPostalEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoPostalEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseñaEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseñaEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailMarketing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailMarketing)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
