@model IEnumerable<MerkaDo_BACKEND.Models.EMPRESAS__>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoPostalEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseñaEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailMarketing)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocialEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoPostalEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseñaEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailMarketing)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuarioId })
        </td>
    </tr>
}

</table>
