@model MerkaDo_BACKEND.Models.STATUS_COMPRA_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>STATUS_COMPRA_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocialEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carritoComprasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carritoComprasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mensajeroStatusCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensajeroStatusCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__1.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__1.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statusCompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
