@model IEnumerable<MerkaDo_BACKEND.Models.STATUS_COMPRA_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carritoComprasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mensajeroStatusCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTES__.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocialEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carritoComprasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mensajeroStatusCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTES__.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.statusCompraId }) |
            @Html.ActionLink("Details", "Details", new { id=item.statusCompraId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.statusCompraId })
        </td>
    </tr>
}

</table>
