<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("ROL_USUARIO", "Index", "ROL_USUARIO", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("GENERO", "Index", "GENEROes", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SUCURSAL", "Index", "SUCURSAL_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SUPERMERCADO", "Index", "SUPERMERCADO_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("USUARIO", "Index", "USUARIO__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("LOG_ACTION", "Index", "LOG_ACTION__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CLIENTES", "Index", "CLIENTES__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("EMPRESAS", "Index", "EMPRESAS__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("MENSAJE", "Index", "MENSAJE__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TIPO_SALA", "Index", "TIPO_SALA__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SALA", "Index", "SALA__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SALA_USUARIO", "Index", "SALA_USUARIO__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TIPO_MENSAJE", "Index", "TIPO_MENSAJE__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TARJETA_CREDITO", "Index", "TARJETA_CREDITO_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("COMPRA", "Index", "COMPRA__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("PRODUCTO", "Index", "PRODUCTO__", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("DIA_FERIADO", "Index", "DIA_FERIADO_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("SOBRE_NOSOTROS", "Index", "SOBRE_NOSOTROS_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("PREGUNTAS_FRECUENTES", "Index", "PREGUNTAS_FRECUENTES_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("DESCUENTOS", "Index", "DESCUENTOS_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CUPONES", "Index", "CUPONES_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TARJETA_MEMBRESIA", "Index", "TARJETA_MEMBRESIA_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TARJETA_REGALO", "Index", "TARJETA_REGALO_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CARRITO_COMPRAS", "Index", "CARRITO_COMPRAS_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("LISTA_PRODUCTO", "Index", "LISTA_PRODUCTO_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("LISTADO_PAQUETE_COMPRA", "Index", "LISTADO_PAQUETE_COMPRA_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("STATUS_COMPRA", "Index", "STATUS_COMPRA_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("HISTORIAL_COMPRA", "Index", "HISTORIAL_COMPRA_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("CORREO_EMAIL_MARKETING", "Index", "CORREO_EMAIL_MARKETING_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("ENTREGAS", "Index", "ENTREGAS_", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("NOTIFICACION", "Index", "NOTIFICACION_", new { area = "" }, null)</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
