@model MerkaDo_BACKEND.Models.ENTREGAS_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ENTREGAS_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ubicacionActualEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacionActualEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacionDestinoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacionDestinoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firmaClientePaqueteCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmaClientePaqueteCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusFirmaEntregaPaqueteCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusFirmaEntregaPaqueteCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES__.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES__.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPRA__.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPRA__.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_STATUS_COMPRA.nombreStatusTipoCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.entregaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
