@model MerkaDo_BACKEND.Models.PRODUCTO__

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PRODUCTO__</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagenProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tablaNutricionalProductoIMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tablaNutricionalProductoIMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUCURSAL_.nombreSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUCURSAL_.nombreSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPERMERCADO_.nombreSupermercado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPERMERCADO_.nombreSupermercado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
