@model MerkaDo_BACKEND.Models.METODO_ENVIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>METODO_ENVIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreMetodoEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMetodoEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionMetodoEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionMetodoEnvio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.metodoEnvioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
