@model MerkaDo_BACKEND.Models.ESTADISTICAS_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ESTADISTICAS_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documentoEstadisticas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentoEstadisticas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_ESTADISTICAS_.nombreTipoEstadisticas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_ESTADISTICAS_.nombreTipoEstadisticas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.estadisticasId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
