@model IEnumerable<MerkaDo_BACKEND.Models.SALA_USUARIO__>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SALA__.salaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SALA__.salaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO__.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.salaUsuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.salaUsuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.salaUsuarioId })
        </td>
    </tr>
}

</table>
