@model MerkaDo_BACKEND.Models.DESCUENTOS_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DESCUENTOS_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descuentoAplicar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuentoAplicar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaExpiracionDescuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaExpiracionDescuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO__.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO__.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.descuentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
