@model IEnumerable<MerkaDo_BACKEND.Models.DESCUENTOS_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descuentoAplicar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaExpiracionDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO__.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descuentoAplicar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaExpiracionDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIA_PRODUCTO.nombrecategoriaProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTO__.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO__.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.descuentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.descuentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.descuentoId })
        </td>
    </tr>
}

</table>
