@model MerkaDo_BACKEND.Models.FACTURA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FACTURA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusTarjetaCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusTarjetaCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comprobanteFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comprobanteFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comprobanteFiscalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comprobanteFiscalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARRITO_COMPRAS_.carritoComprasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARRITO_COMPRAS_.carritoComprasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES__.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES__.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPRA__.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPRA__.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPERMERCADO_.nombreSupermercado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPERMERCADO_.nombreSupermercado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
