@model IEnumerable<MerkaDo_BACKEND.Models.CORREO_EMAIL_MARKETING_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tituloMensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenCorreoEmailMarketing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenidoCorreoEmailMarketing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacionCorreoEmailMarketing)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tituloMensaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenCorreoEmailMarketing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenidoCorreoEmailMarketing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacionCorreoEmailMarketing)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.correoEmailMarketingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.correoEmailMarketingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.correoEmailMarketingId })
        </td>
    </tr>
}

</table>
