@model IEnumerable<MerkaDo_BACKEND.Models.USUARIO__>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedulaUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoCorporativoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENERO.nombreGenero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROL_USUARIO.nombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUCURSAL_.nombreSucursal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedulaUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoCorporativoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENERO.nombreGenero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROL_USUARIO.nombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUCURSAL_.nombreSucursal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.usuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.usuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.usuarioId })
        </td>
    </tr>
}

</table>
