@model MerkaDo_BACKEND.Models.HISTORIAL_COMPRA_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HISTORIAL_COMPRA_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocialEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocialEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoTipoHistorialCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoTipoHistorialCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARRITO_COMPRAS_.carritoComprasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARRITO_COMPRAS_.carritoComprasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.historialCompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
