@model MerkaDo_BACKEND.Models.MENSAJE__

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MENSAJE__</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES__.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES__.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALA__.salaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALA__.salaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_MENSAJE__.NombreTipoMensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_MENSAJE__.NombreTipoMensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SALA__.nombreSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SALA__.nombreSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO__.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO__.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mensajeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
