@model MerkaDo_BACKEND.Models.SOBRE_NOSOTROS_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SOBRE_NOSOTROS_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quienesSomosSobreNosotros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quienesSomosSobreNosotros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misionSobreNosotros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misionSobreNosotros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visionSobreNosotros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visionSobreNosotros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valoresSobreNosotros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valoresSobreNosotros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sobreNosotrosId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
