@model IEnumerable<MerkaDo_BACKEND.Models.SOBRE_NOSOTROS_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quienesSomosSobreNosotros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misionSobreNosotros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visionSobreNosotros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valoresSobreNosotros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quienesSomosSobreNosotros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misionSobreNosotros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visionSobreNosotros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valoresSobreNosotros)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sobreNosotrosId }) |
            @Html.ActionLink("Details", "Details", new { id=item.sobreNosotrosId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sobreNosotrosId })
        </td>
    </tr>
}

</table>
