@model IEnumerable<MerkaDo_BACKEND.Models.CLIENTES__>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teléfonoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.códigoPostalCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimientoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroDocumentoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseñaCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailMarketing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENERO.nombreGenero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO.nombreTipoDocumento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teléfonoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.códigoPostalCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimientoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroDocumentoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseñaCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailMarketing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENERO.nombreGenero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_DOCUMENTO.nombreTipoDocumento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioId })
        </td>
    </tr>
}

</table>
