@model MerkaDo_BACKEND.Models.LISTA_PRODUCTO_

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LISTA_PRODUCTO_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.precioProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO__.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO__.nombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.listaProductosId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
