@model IEnumerable<MerkaDo_BACKEND.Models.LISTA_PRODUCTO_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.precioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO__.nombreProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.precioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTO__.nombreProducto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.listaProductosId }) |
            @Html.ActionLink("Details", "Details", new { id=item.listaProductosId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.listaProductosId })
        </td>
    </tr>
}

</table>
