@model MerkaDo_BACKEND.Models.COMENTARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>COMENTARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estrellaComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estrellaComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mensajeComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensajeComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTES__.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTES__.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO__.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO__.nombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comentarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
